build/
certs/
data/
dist/
media/
node_modules/
out/
secrets/
temp/
vendor/

.astro/
.next/
.payload/
.pnpm/
.vercel/
.vite/
.yarn/

.idea/
.vscode/*
!.vscode/extensions.json

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

history.txt

*.local

.DS_Store
*.pem
